# --- игнорим данные, бэктесты, артефакты ---
user_data/data/
user_data/backtest_results/
user_data/hyperopt_results/

# крупные файлы/логи (глобально)
*.feather
*.zip
*.meta.json
*.log

# временные файлы
user_data/pairs_tmp.txt

# оставим короткие отчёты, если будут
!user_data/*_report.json
# виртуалка и кэши
freqtrade_venv/
**/__pycache__/
*.pyc

# --- user_data: игнорим всё, кроме стратегий и коротких отчётов ---
user_data/*
# оставить короткие отчёты (например: ids5m_Q2_OOS_report.json)
!user_data/*_report.json

# оставить код и пресеты стратегий
!user_data/strategies/
user_data/strategies/*
!user_data/strategies/*.py
!user_data/strategies/*.json

# не тащим бэкапы стратегий
user_data/strategies/backups/
